
<app-header></app-header>

<div class="container">
    <div class="jumbotron">
      <h1>Welcome to Our Customer Management Application</h1>
      <p>This application helps you manage your customer data efficiently.</p>
      <hr class="my-4">
      <p>Get started by exploring the following features:</p>
      <p>
        <a class="btn btn-primary btn-lg" routerLink="/customer" role="button">View Customer List</a>
        <a class="btn btn-success btn-lg" routerLink="/add-customer" role="button">Add New Customer</a>
      </p>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <h2>Key Features</h2>
        <ul class="list-group">
          <li class="list-group-item">Add, edit, and delete customer details</li>
          <li class="list-group-item">View a list of all customers</li>
          <li class="list-group-item">Print customer list</li>
          
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Why Choose Us?</h2>
        <p>Our application provides an intuitive interface and powerful features to streamline your customer management process.</p>
        <p>With our user-friendly design and robust functionality, you can focus on building better relationships with your customers.</p>
        
      </div>
    </div>
  </div>
  
